body * {
    transition: 0.8s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: "Russo One", sans-serif;
    font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
    font-family: "Roboto Mono", monospace;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    font-family: "Roboto Mono", monospace;
}

.welcome_layout {
    min-height: 100vh;
    width: 100%;
    position: fixed;
    text-align: justify;
}

.welcome_layout p {
    font-size: 20px;
    text-indent: 50px;
}

.nav_form_btn {
    margin-left: 20px;
}

._modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_content {
    background-color: #f4f4f4f4;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modal_open;
    animation-duration: 3s;
}

@keyframes model_open {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.close_btn {
    color: #cccccc;
    float: right;
    font-size: 30px;
    cursor: pointer;
}

.close_btn:hover,
.close_btn:focus {
    color: black;
    text-decoration: none;
}

.admin_section {
    position: relative;
}

.admin_container {
    position: absolute;
    left: 10%;
}

.record_ten_table {
    display: none;
}

.admin_suggest_widgets {
    display: flex;
}

.admin_suggest_widgets a {
    margin-left: 10px;
}

.am_download {
    display: none;
}

.suggest-ten-table {
    display: none;
}

.link_button {
    width: 150px;
    height: 50px;
}

._modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.modal_content {
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modal_open;
    animation-duration: 3s;
}

@keyframes model_open {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.close_btn {
    color: #cccccc;
    float: right;
    font-size: 30px;
    cursor: pointer;
}

.close_btn:hover,
.close_btn:focus {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}