input[type="text"],
input[type="number"],
input[type="file"] {
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.search_bar {
    display: flex;
}

.search_bar label {
    font-size: 16px;
}

.drop_down {
    height: 45px;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    width: 150px;
    cursor: pointer;
}

.drop_down_items {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.searh_button {
    width: 100px;
    height: 45px;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    width: 150px;
    cursor: pointer;
    background-color: #3949ab;
    color: white;
}

.search_button_items {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card_display {
    width: 100%;
    justify-content: center;
}

.records_header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}